
div{
    height: 250px;
    width: 250px;
    font-size: 55px;
    font-family: cursive;
    text-align: center;
    background-color: rgb(167, 159, 168);
    /* border: 5px solid rgb(66, 50, 68); */
    
    display: inline-block;
    margin: 20px;
    
}

#mainHtml{
    background-color: rgb(56, 48, 63);
    text-align: center;
}

#id_myP{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(167, 159, 168);
}